%h1
  = I18n.t('link_static_content_block_page').capitalize
%h2
  = I18n.t('static_content_block', :count => 1).capitalize
  \-
  = @static_content_block.title if @static_content_block
- if @static_content_block
  - form_for :static_content_block, @static_content_block, :url => update_links_admin_static_content_blocks_path(@static_content_block), :html => {:method => :put} do |f|
    %p
      %h3
        = I18n.t('page.other').capitalize
      - selected_pages = @static_content_block.pages.collect {|page| page.id.to_i }
      = select_tag 'static_content_block[page_ids][]', '<option value="">' + I18n.t('none').capitalize + '</option>' << options_from_collection_for_select(@pages, "id", "title", selected_pages), { :multiple => true, :disabled => @disabled }
    = submit_tag I18n.t('save').capitalize
