= render :partial => 'tabs'
#sidebar.grid_4.omega.alpha
  .backgrounds.header
    %span.backgrounds.action-button.create-action
      %span.big-icons.new-category
      %span.small-icons.arrow
      %span.create-list
        %span.big-icons.create-folder
          = "create a folder"
        -#%span.small-icons.create-smart-folder
          -#= "create a smart folder "
    %span.backgrounds.action-button.update-action
      %span.small-icons.more-actions
      %span.small-icons.arrow
      %span.update-list
        %span.small-icons.modify-folder
          = "modify a folder"
        %span.small-icons.duplicate-folder
          = "duplicate a folder "
        %span.small-icons.delete-folder
          = "delete a folder "
  .backgrounds.sidebar-background
  .sidebar-content
    %h2.small-icons.blocks
      = link_to I18n.t('block.all').capitalize, admin_blocks_path
    #block-tree.a-tree
      %ul
        = render :partial => 'admin/categories/list', :locals => { :categories => StaticContentCategory.find_all_by_parent_id(nil) }

#content.grid_12.alpha.omega
  .backgrounds.header
    = link_to content_tag(:span,I18n.t('static_content_block.create.action').capitalize, :class=>'big-icons create-block'), new_admin_block_path, :class=>'backgrounds action-button'
    #search.right
      = link_to content_tag(:span, I18n.t('search').capitalize, :class => 'small-icons search-span'), '#', :class => 'small-icons left search-link'
    .backgrounds.search-form
  .content-background
  %table#table.datatable
    %thead
      %tr
        %th
        %th
          = I18n.t('static_content_block.name').capitalize
        %th
          = I18n.t('linked_to').capitalize
    %tbody
= dataTables_tag 3, :url => admin_blocks_path(:format => :json)
.lightbox-container
  #page-tree.pages-tree
    %ul
      = render :partial => 'admin/categories/list_pages', :locals => { :categories => @page_categories, :pages => @pages }
