= render :partial => 'tabs'
#blocks-header.backgrounds
  = link_to I18n.t('static_content_block', :count => 1), '#', :class => 'selected'
  = link_to I18n.t('widget', :count => 1), '#'
#sidebar.grid_4.omega.alpha
  .backgrounds.header
    %a.backgrounds.action-button{ :href => '#' }
      %span.big-icons.new-category
      %span.small-icons.arrow
  .backgrounds.sidebar-background
  .sidebar-content
    %h5.small-icons.blocks
      = link_to I18n.t('block.all').capitalize, admin_blocks_path
    #block-tree
      %ul
        = render :partial => 'admin/categories/list', :locals => { :categories => StaticContentCategory.find_all_by_parent_id(nil) }

#content.grid_12.alpha.omega
  .backgrounds.header
    = link_to content_tag(:span,I18n.t('static_content_block.create.action').capitalize, :class=>'big-icons create-block'), new_admin_block_path, :class=>'backgrounds action-button'
    #search.right
      = link_to content_tag(:span, I18n.t('search').capitalize, :class => 'small-icons search-span'), '#', :class => 'small-icons left search-link'
    .backgrounds.search-form
  .content-background
  %table#table.datatable
    %thead
      %tr
        %th
        %th
          = I18n.t('static_content_block.name').capitalize
        %th
          = I18n.t('linked_to').capitalize
    %tbody
= dataTables_tag 3, :url => admin_blocks_path(:format => :json)
