-#.sortable.widget-list
- unless carousel.nil? or carousel.items.empty?
  - carousel.items.each do |item|
    - link_id = "item_#{item.id}"
    .block-container.widget-modify{:id => link_id}
      .block-type
        %span.handler
          %span.inner
        %div
          = image_tag item.picture ? item.picture.public_filename(:thumb) : 'admin/no-image_50x50.png'
      .block-type.editing
        %span.handler
          %span.inner
        %div
          %label
            ="Picture :"
          %label.picture-title
            ="Picture title :"
          %label
            ="Link :"
          %label
            ="Description :"
      .block-name
        = link_to item.title, "http://" + item.url
        %p
          = item.description
      .block-name.editing{:id => "edit_#{link_id}"}
        -# remote_form_for :item, item, :url => admin_carousel_item_path(item.carousel, item), :html => {:method => :put, :multipart => true, :id => "form_#{link_id}"} do |carousel_item|

        .widget-picture
          = image_tag item.picture ? item.picture.public_filename(:thumb) : 'admin/no-image_50x50.png'
          = link_to "change picture", '#'
        = text_field_tag "item_[title]",  item.title
        .widget-url
          %span
            = "http://"
          = text_field_tag 'item[url]', item.url
          .clear
        = text_area_tag 'item[text_area]', item.description, :cols => 10, :rows => 2

        %div.actions
          -#= link_to content_tag(:span,I18n.t('save_changes'),:class=>'small-icons save'),'#',:class=>'backgrounds action-button'
          = link_to_function content_tag(:span,I18n.t('save_changes'), :class=>'small-icons save'), "update_carousel_item(#{item.id})", :class=>'backgrounds action-button'

          = I18n.t('or')
          = link_to I18n.t('cancel').capitalize, '#', :class => 'back-link'

      .widget-actions
        = link_to '','#', :class => 'small-icons duplicate-link'
        = link_to '','#', :class => 'small-icons edit-link'
        = link_to '','#', :class => 'small-icons destroy-link'
      .clear
