.grid_15
  %p
    = t(:paste_code)
  .grid_8.alpha
    %p
      %span
        = t(:page_code)
        \:
      .clear
      = f.text_area :page_code, :class => 'text', :cols => 60, :rows => 7
  .grid_7.omega
    = t(:page_code_explain)
  .clear
  .grid_8.alpha
    %p
      %span
        = t(:header_code)
        \:
      .clear
      = f.text_area :header_code, :class => 'text', :cols => 60, :rows => 7
  .grid_7.omega
    = t(:header_code_explain)
  .clear
  .grid_8.alpha
    %p
      %span
        = t(:bottom_code)
        \:
      .clear
      = f.text_area :bottom_code, :class => 'text', :cols => 60, :rows => 7
  .grid_7.omega
    = t(:bottom_code_explain)
  .clear