<%= include_tiny_mce_if_needed %>

<% form_for [:admin, page], :url => (page.new_record? ? admin_pages_path : admin_page_path(page)), :html => { :method => (page.new_record? ? :post : :put), :multipart => true } do |f| %>
  <%= f.error_messages %>
  <p>
    <b><label><%= I18n.t('title').capitalize %></label></b>
    <%= f.text_field :title %>
  </p>

  <p>
    <b><label><%= I18n.t('keyword').capitalize %></label></b> 
    <%= f.text_field :keywords %> 
  </p>

  <p>
    <b><label><%= I18n.t('description').capitalize %></label></b> 
    <div> 
      <%= f.text_area :description, :rows => 3, :cols => 80 %> 
    </div>
  </p>

  <p>
    <b><label><%= I18n.t('url').capitalize %></label></b>
    <%= f.text_field :url %>
  </p>

  <p>
    <b><label><%= I18n.t('section', :count => 1).capitalize %></label></b>
    <%= f.select :section_id, get_sections_options(sections), { :include_blank => 'None' } %> 
  </p>

  <p>
    <b><label><%= I18n.t('active').capitalize %></label></b>
    <%= f.check_box :active %>
  </p>

  <p>
    <b><label><%= I18n.t('content').capitalize %></label></b>
  <p><%= link_to_function I18n.t('editor.show.action'), "toggleEditor('page_content',this)" %></p>
  </p>
  <%= f.text_area :content, :cols => 80 %>

  <%= submit_tag I18n.t('save').capitalize %> 
<% end %>
