= render :partial => 'admin/menus/lang_switcher'
= form_for [forgeos_cms, :admin, page], :html => { :id => 'wrap' } do |f|
  = render :partial => 'tabs_show'
  #content.grid_16.alpha.omega
    #general{:style => 'padding: 0'}
      = render :partial => 'general', :locals => {:f => f, :page => page }
      .clear
    #blocks{:style => 'padding: 0'}
      = render :partial => 'blocks', :locals => { :f => f, :page => page }
    #seo{:style => 'padding: 0'}
      = render :partial => 'seo', :locals => { :f => f, :page => page }
    #codes
      = render :partial => 'codes', :locals => { :f => f, :page => page }
    .clear
    = render :partial => 'block_popup', :locals => { :page => page } 
