= include_tiny_mce_if_needed
- form_for [:admin, page], :html => { :id => 'wrap' } do |f|
  .backgrounds.big-header
    = f.text_field :title
    .interact-links
      .borders.interact-button-left
      = submit_tag I18n.t('save_changes').capitalize, :class => 'backgrounds interact-button'
      .borders.interact-button-right
      = I18n.t('or')
      = link_to I18n.t('cancel').capitalize, admin_pages_path, :class => 'back-link'
  #content.grid_16.alpha.omega
    .grid_12.alpha
      .inner-content
        %h2.permalink
          = I18n.t('permalink').capitalize
          \:
          = "#{request.protocol}#{request.host}/"
          = f.text_field :url
        %h2.description
          = I18n.t('description').capitalize
        = f.text_area :content, :class => 'mceEditor', :cols => 85
        .fieldset
          %h2
            = I18n.t('block', :count => 2)
          %a.backgrounds.static-content.action-button{ :href => "#" }
            %span.big-icons
              = I18n.t('page.block.add').capitalize
          %a.backgrounds.widget-content.action-button{ :href => "#" }
            %span.big-icons
              = I18n.t('page.widget.add').capitalize
          .clear
          .sortable
            = hidden_field_tag 'page[block_ids][]'
            - page.blocks.each do |block|
              = block_container :page, :block, block
    #right-sidebar.grid_4.omega
      .step.status.open
        %div
          - status = [[I18n.t('page.published'), 'published'], [I18n.t('page.draft'), 'draft']]
          = select_tag :status, options_for_select(status, page.active ? 'published' : 'draft'), :class => 'published'
        .clear
        %p
          - unless page.new_record? or !page.active
            = I18n.t('page.published_on').capitalize
            %span.last-date
              = page.published_at.to_date
              %br
              /by TODO
              %em
                /Quentin Tousart
          - else
            = I18n.t('page.not_published').capitalize
      .step
        -# = link_to I18n.t('page.preview').capitalize, '#', :class => 'small-icons preview'
        = content_tag :span, I18n.t('page.preview').capitalize, :class => 'small-icons preview disabled'
        - unless page.new_record?
          = link_to I18n.t('page.duplicate').capitalize, [:duplicate, :admin, page], :class => 'small-icons duplicate'
          = link_to I18n.t('page.delete').capitalize, [:admin, page], :confirm => I18n.t('page.destroy.confirm').capitalize, :method => :delete, :class => 'small-icons delete'
      .step.disabled
        %a.small-icons.step-title{ :href => "#" }
          Modification history
        .inner-step
          %p
            Modified on
            %span.last-date
              12/11/2009
            %br
            by
            %em
              Quentin Tousart
          %p
            Created on 11/11/2009
            %br
            by
            %em
              Quentin Tousart
      .step.open
        %a.small-icons.step-title{ :href => "#" }
          Tags
        .inner-step.tags
          = hidden_field_tag 'tag_list[]', ''
          %input#tag.backgrounds{ :name => 'tag', :type => 'text' }
          - page.tag_list.each do |tag|
            %span
              = tag
              = hidden_field_tag 'tag_list[]', tag
              = link_to '&nbsp;', '#', :class => 'big-icons gray-destroy'
      .step.open
        %a.small-icons.step-title{ :href => "#" }
          = I18n.t('meta_description').capitalize
        .inner-step.meta
          - page.build_meta_info unless page.meta_info
          - f.fields_for :meta_info do |meta_info|
            %p
              %span
                = I18n.t('title').capitalize
                \:
              = meta_info.text_area :title, :class => 'text'
            %p
              %span
                = I18n.t('description').capitalize
                \:
              = meta_info.text_area :description, :class => 'text'
            %p
              %span
                = I18n.t('keyword', :count => 2).capitalize
                \:
              = meta_info.text_area :keywords, :class => 'text'
      .step.disabled
        %a.small-icons.step-title{ :href => "#" }
          Graphic template
        .inner-step.glossy
          %select{ :name => "design" }
            %option{ :selected => "selected", :value => "default" }
              Corporate blue design
            %option{ :value => "no" }
              Corporate green design
        .clear
    .clear
    .lightbox-container
      #inner-lightbox.backgrounds
        = link_to I18n.t('static_content_block.one').capitalize, '#', :class => 'static-tab selected'
        = link_to I18n.t('widget.other').capitalize, '#', :class => 'widget-tab'
      #static-tree.blocks-tree
        %ul
          = render :partial => 'admin/categories/list_blocks', :locals => { :page => page, :categories => @static_block_categories, :blocks => @static_blocks }
        = link_to I18n.t('page.block.add').capitalize, new_admin_page_block_path(page), :class => 'small-icons add-link'
      #widget-tree.blocks-tree.hidden
        %ul
          = render :partial => 'admin/categories/list_blocks', :locals => { :page => page, :categories => @widget_categories, :blocks => @widgets }
        = link_to I18n.t('page.widget.add').capitalize, new_admin_page_block_path(page), :class => 'small-icons add-link'
