<%= include_tiny_mce_if_needed %>

<% form_for :page, page, :url => { :action => action } do |f| %>
<p>
  <b><label><%= I18n.t('title').capitalize %></label></b>
  <%= f.text_field :title %>
</p>

<p> 
  <b><label><%= I18n.t('keyword').capitalize %></label></b> 
  <%= f.text_field :keywords %> 
</p> 

<p> 
  <b><label><%= I18n.t('description').capitalize %></label></b> 
  <div> 
    <%= f.text_area :description, :rows => 3, :cols => 30 %> 
  </div> 
</p> 

<p>
  <b><label><%= I18n.t('url').capitalize %></label></b>
  <%= f.text_field :url %>
</p>

<p>
  <b><label><%= I18n.t('section', :count => 1).capitalize %></label></b>
  <%= f.select :section_id, get_sections_options(sections), { :include_blank => 'None' } %> 
</p>

<p>
  <b><label><%= I18n.t('active').capitalize %></label></b>
  <%= f.check_box :active %>
</p>

<p>
  <b><label><%= I18n.t('content').capitalize %></label></b>
  <p><%= link_to_function I18n.t('editor.show.action'), "toggleEditor('page_content',this)" %></p>
</p>
<%= f.text_area :content, :cols => 80 %>

<%= submit_tag I18n.t('save').capitalize %> 
<% end %>
