.grid_12
  .fieldset.open
    %h3.permalink
      = t('permalink').capitalize
      \:
    .option-panel-content
      = render :partial => 'page_url', :locals => {:f => f}
  .fieldset.open
    %h3= t(:meta_info,:count => 1)
    .option-panel-content.meta
      - f.object.build_meta_info unless f.object.meta_info
      = f.fields_for :meta_info do |meta_info|
        %p
          %span
            = t(:title).capitalize
            \:
          %br
          = meta_info.text_field :title, :class => 'text', :size => 90
        %p
          %span
            = t(:description).capitalize
            \:
          %br
          = meta_info.text_area :description, :class => 'text', :cols => 90, :rows => 5
        %p
          %span
            = t(:keyword, :count => 2).capitalize
            \:
          %br
          = meta_info.text_area :keywords, :class => 'text', :cols => 90, :rows => 5
