%h1
  = I18n.t('block.update.action', :count => 2).capitalize
- if @page
  %h2
    = I18n.t('page', :count => 1).capitalize
    = @page.title
  %h3
    = link_to I18n.t('block.create.action').capitalize, new_admin_page_block_path(@page)
  #edit_blocks
    %table#table
      %thead
        %tr
          %th
            = I18n.t('position').capitalize
          %th
            = I18n.t('title').capitalize
          %th
            = I18n.t('other_linked_pages').capitalize
          %th
            = I18n.t('action', :count => 2).capitalize
      %tbody
        - unless @page.blocks.nil? or @page.blocks.blank?
          - @page.blocks.each do |block|
            %tr{ :class => cycle('even', 'odd') }
              %td
                = block.position
              %td
                = link_to block.title, admin_block_path(block)
              %td
                = block.pages.size - 1
              %td
                = link_to I18n.t('edit').capitalize, edit_admin_page_block_path(@page, block)
                \-
                = link_to I18n.t('move_up').capitalize, move_up_admin_page_block_path(@page, block)
                \-
                = link_to I18n.t('move_down').capitalize, move_down_admin_page_block_path(@page, block)
                \-
                = link_to I18n.t('unlink').capitalize, unlink_admin_page_block_path(@page, block), :confirm => I18n.t('page.unlink_block.confirm').capitalize, :method => :delete
                \-
                = link_to I18n.t('delete').capitalize, admin_page_block_path(@page, block), :confirm => I18n.t('block.destroy.confirm_associated').capitalize, :method => :delete

  %h3
    = I18n.t('existing_blocks').capitalize
  #link_blocks
    %table#table_blocks
      %thead
        %tr
          %th
            = I18n.t('title').capitalize
          %th
            = I18n.t('linked').capitalize
      %tbody
        -unless @blocks.nil? or @blocks.blank?
          - @blocks.each do |block|
            %tr
              %td
                = link_to block.title, admin_block_path(block)
              %td
                - form_tag link_admin_page_block_path(@page, block) do |f|
                  = check_box_tag :block, :link, (block.linked_with? @page), :onchange => "$(this.form).trigger('submit')"

= dataTables_tag(4, :sorting => true)
= dataTables_tag(2, :id => 'table_blocks', :action_column => false)
