<%= render :partial => 'top_links', :locals => { :page => @page } %>

<h1><%= I18n.t('block.update.action', :count => 2).capitalize %></h1>

<% if @page %>
  <h2><%= I18n.t('page').capitalize +" "+ @page.title %></h2>

  <h3>
    <%= link_to I18n.t('block.create.action').capitalize, { :controller => 'admin/blocks', :action => 'create', :page_id => @page.id } %>
  </h3>

  <div id="edit_blocks">
    <table>
      <thead>
        <th><%= I18n.t('title').capitalize %></th>
        <th><%= I18n.t('other_linked_pages').capitalize %></th>
        <th><%= I18n.t('action').capitalize %></th>
      </thead>

      <% unless @page.blocks.nil? or @page.blocks.blank? %>

        <% @page.blocks.each do |block| %>
        <tr>
          <td><%= link_to block.title, :controller => 'admin/blocks', :action => 'show', :id => block.id %></td>
          <td><%= block.pages.size - 1 %></td>
          <td>
            <%= link_to I18n.t('edit').capitalize, :controller => 'admin/blocks', :action => 'edit', :id => block.id, :page_id => @page.id %>
            -
            <%= link_to I18n.t('move_up').capitalize, :action => 'order_blocks', :id => @page.id, :block_id => block.id, :order => 'up' %>
            -
            <%= link_to I18n.t('move_down').capitalize, :action => 'order_blocks', :id => @page.id, :block_id => block.id, :order => 'down' %>
            -
            <%= link_to I18n.t('unlink').capitalize, { :action => 'unlink_block', :id => @page.id, :block_id => block.id }, :confirm => I18n.t('page.unlink_block.confirm').capitalize%>
            -
            <%= link_to I18n.t('delete').capitalize, { :controller => 'admin/blocks', :action => 'delete', :id => block.id, :page_id => @page.id }, :confirm => 'Are you sure that you want to delete this block? (it will be removed from all its associated pages)' %>
          </td>
        </tr>
        <% end %>

      <% else %>
        <tr> 
 	  <td colspan="3"><%= I18n.t('block.none').capitalize %></td> 
 	</tr> 
      <% end %>

    </table>
  </div>
<% end %>

<%= link_to I18n.t('back').capitalize, :back %>
