<h1>List of pages</h1>

<% @content_for_tools << link_to('Add a page', { :action => 'create' }, :class => 'add' ) %>

<div id="list_pages">
  <table>
    <thead>
      <th>Title</th>
      <th>URL</th>
      <th>Section</th>
      <th>Linked blocks</th>
      <th>Active</th>
      <th>Action</th>
    </thead>

    <tbody>
    <% unless @pages.nil? or @pages.blank? %>
      <% @pages.each do |page| %>
      <tr class="<%= cycle('even', 'odd') %>">
        <td><%= link_to page.title, :action => 'show', :id => page.id %></td>
        <td><%= page.url %></td>
        <td><%= page.section ? page.section.title : '-' %></td>
        <td><%= page.blocks.size %></td>
        <td><%= page.active ? 'yes' : 'no' %></td>
        <td>
          <%= link_to 'edit', { :action => 'edit', :id => page.id } %>
          -
          <%= link_to 'delete', { :action => 'delete', :id => page.id }, :confirm => 'Are you sure that you want to delete this page?' %>
          -
          <%= link_to 'edit blocks', { :action => 'edit_blocks', :id => page.id } %>
        </td>
      </tr>
      <% end %>  

    <% else %>
      <tr> 
        <td colspan="6">No pages</td>
      </tr> 
    <% end %>

    </tbody>
  </table>
</div>

