= render :partial => 'tabs'
#sidebar.grid_4.omega.alpha
  .backgrounds.header
    %span.backgrounds.action-button.create-action
      %span.big-icons.new-category
      %span.small-icons.arrow
      %span.create-list
        %span.big-icons.create-folder
          = "create a folder"
        -#%span.small-icons.create-smart-folder
          -#= "create a smart folder "
    %span.backgrounds.action-button.update-action
      %span.small-icons.more-actions
      %span.small-icons.arrow
      %span.update-list
        %span.small-icons.modify-folder
          = "modify a folder"
        %span.small-icons.duplicate-folder
          = "duplicate a folder "
        %span.small-icons.delete-folder
          = "delete a folder "
  .backgrounds.sidebar-background
  .sidebar-content
    %h2.small-icons.pages
      = link_to I18n.t('page.all').capitalize, admin_pages_path
    #page-tree.a-tree
      %ul#root-tree
        = render :partial => 'admin/pages/sections_list', :locals => { :sections => Section.find_all_by_parent_id(nil) }
#content.grid_12.alpha.omega
  .backgrounds.header
    = link_to content_tag(:span,I18n.t('page.create.action').capitalize, :class=>'big-icons create-page'), new_admin_page_path, :class=>'backgrounds action-button'
    #search.right
      = link_to content_tag(:span, I18n.t('search').capitalize, :class => 'small-icons search-span'), '#', :class => 'small-icons left search-link'
    .backgrounds.search-form
  .content-background
  %table#table.datatable
    %thead
      %tr
        %th
        %th
          = I18n.t('title').capitalize
        %th
          = I18n.t('comment.other').capitalize
        %th
          = I18n.t('author').capitalize
        %th
          = I18n.t('page.date').capitalize
        %th
          = I18n.t('status', :count => 1).capitalize
        %th.actions-td
    %tbody

= dataTables_tag 7, :url => admin_pages_path(:format => :json)
