= render :partial => 'tabs'
#sidebar.grid_4.omega.alpha
  .backgrounds.header
    %a.backgrounds.action-button{ :href => "#" }
      %span.big-icons.new-category
      %span.small-icons.arrow
  .backgrounds.sidebar-background
  .sidebar-content
    %h5.small-icons.pages
      = link_to I18n.t('page.all').capitalize, admin_pages_path
    #product-tree
      %ul
        = render :partial => 'admin/pages/sections_list', :locals => { :sections => Section.find_all_by_parent_id(nil) }
#content.grid_12.alpha.omega
  .backgrounds.header
    = link_to I18n.t('page.create.action').capitalize, [:admin, Page.new]
    #search.right
      = link_to content_tag(:span, I18n.t('search').capitalize, :class => 'small-icons search-span'), '#', :class => 'small-icons left search-link'
    .backgrounds.search-form
  .content-background
  %table#table.datatable
    %thead
      %tr
        %th
        %th
          = I18n.t('title').capitalize
        %th
          = I18n.t('url').capitalize
        %th
          = I18n.t('section', :count => 1).capitalize
        %th
          = I18n.t('linked_blocks').capitalize
        %th
          = I18n.t('status', :count => 1).capitalize
    %tbody

= dataTables_tag 6, :url => admin_pages_path(:format => :json)
