= render :partial => 'tabs'
= render :partial => 'admin/sidebars/left_sidebar', :locals => {:icon_class => 'pages', :sidebar_title => 'page.all', :tree_id =>'page-tree'}

#content.grid_12.alpha.omega
  .backgrounds.header
    = link_to content_tag(:span,I18n.t('page.create.action').capitalize, :class=>'big-icons create-page'), new_admin_page_path, :class=>'backgrounds action-button'
    #search.right
      = link_to content_tag(:span, I18n.t('search').capitalize, :class => 'small-icons search-span'), '#', :class => 'small-icons left search-link'
    .backgrounds.search-form
  .content-background
  %table#table.datatable.draggable_rows

= dataTables_tag :url => admin_pages_path(:format => :json), :columns => ["{'bSearchable':false,'bSortable':false}","{'sClass':'th-name','sTitle':'#{I18n.t :title}'}","{'sTitle':'#{I18n.t :comment, :count => 2}', 'bSearchable':false,'bSortable':false}","{'sTitle':'#{I18n.t :author}', 'bSearchable':false,'bSortable':false}","{'sClass':'th-date','sTitle':'#{I18n.t :updated_at}'}","{'sTitle':'#{I18n.t :status, :count => 1}'}","{'sClass':'actions-td','bSearchable':false,'bSortable':false}"]
