= render :partial => 'tabs'
#sidebar.grid_4.omega.alpha
  .backgrounds.header
    %span.backgrounds.action-button.create-action
      %span.big-icons.new-category
      %span.small-icons.arrow
      %span.create-list
        %span.big-icons.create-folder
          = I18n.t('folder.create')
        -#%span.small-icons.create-smart-folder
          -#= I18n.t('folder.smart')
    %span.backgrounds.action-button.update-action
      %span.small-icons.more-actions
      %span.small-icons.arrow
      %span.update-list
        %span.small-icons.modify-folder
          = I18n.t('folder.edit')
        %span.small-icons.duplicate-folder
          = I18n.t('folder.duplicate')
        %span.small-icons.delete-folder
          = I18n.t('folder.destroy')
  .backgrounds.sidebar-background
  .sidebar-content
    %h2.small-icons.pages
      = link_to_function I18n.t('page.all').capitalize, "select_all_elements('/admin/pages.json')"
    #page-tree.a-tree.init-tree
      %ul#root-tree.ltr
        = render :partial => 'admin/pages/sections_list', :locals => { :sections => Section.find_all_by_parent_id(nil) }
#content.grid_12.alpha.omega
  .backgrounds.header
    = link_to content_tag(:span,I18n.t('page.create.action').capitalize, :class=>'big-icons create-page'), new_admin_page_path, :class=>'backgrounds action-button'
    #search.right
      = link_to content_tag(:span, I18n.t('search').capitalize, :class => 'small-icons search-span'), '#', :class => 'small-icons left search-link'
    .backgrounds.search-form
  .content-background
  %table#table.datatable

= dataTables_tag :url => admin_pages_path(:format => :json), :columns => ["{'bSearchable':false,'bSortable':false}","{'sTitle':'#{I18n.t :title}'}","{'sTitle':'#{I18n.t :comment, :count => 2}'}","{'sTitle':'#{I18n.t :author}'}","{'sTitle':'#{I18n.t :date, :count=>1}'}","{'sTitle':'#{I18n.t :status, :count => 1}'}","{'sClass':'actions-td','bSearchable':false,'bSortable':false}"]
