<%= render :partial => 'top_links', :locals => { :page => @page } %>

<h1><%= I18n.t('page.show').capitalize %></h1>

<% if @page %>
  <table id="page_infos">
    <tr>
      <th><%= I18n.t('title').capitalize %></th>
      <td><%=h @page.title %></td>
    </tr>

    <tr> 
      <th><%= I18n.t('keyword').capitalize %></th> 
      <td><%=h !@page.keywords.blank? ? @page.keywords : '-' %></td> 
    </tr>
 		
    <tr>
      <th><%= I18n.t('description').capitalize %></th>
      <td><%=h !@page.description.blank? ? @page.description : '-' %></td>
    </tr>

    <tr>
      <th><%= I18n.t('url').capitalize %></th>
      <td><%=h @page.url %></td>
    </tr>

    <tr>
      <th><%= I18n.t('section', :count => 1).capitalize %></th>
      <td>
        <% if @page.section %>
          <%= link_to @page.section.title, :controller => 'admin/sections', :action => 'show', :id => @page.section.id %>
        <% else %> - <% end %>
      </td>
    </tr>

    <tr>
      <th><%= I18n.t('linked_blocks').capitalize %></th>
      <td><%= @page.blocks.size %></td>
    </tr>

    <tr>
      <th><%= I18n.t('active').capitalize %></th>
      <td><%= @page.active ? I18n.t('_yes').capitalize : I18n.t('_no').capitalize %></td>
    </tr>

    <tr>
      <th><%= I18n.t('content').capitalize %></th>
      <td><%= @page.content %></td>
    </tr>
  </table>
<% end %>
