= render :partial => 'tabs'
#wrap
  .backgrounds.big-header
    %h1
      = @page.title
    .interact-links
      .borders.interact-button-left
      = link_to I18n.t('page.update.action').capitalize, [:edit, :admin, @page ], :class => 'backgrounds interact-button'
      .borders.interact-button-right
      = I18n.t('or')
      = link_to I18n.t('back').capitalize, admin_pages_path, :class => 'back-link'
  #content.grid_12.alpha.omega
    .inner-content
      %h2.permalink
        = I18n.t('permalink', :count => 1).capitalize
        \:
        = "#{request.protocol}#{request.host_with_port}/#{@page.url}"
      .page-content
        = @page.content
      %div.fieldset
        %h2
          = I18n.t('block', :count => 2)
        - @page.blocks.each do |block|
          %div
            %span.block-type= block.type
            %span.block-name= block.title
  #right-sidebar.grid_4.alpha.omega
    .step.status.open
      %form{ :method => "post", :action => "" }
        %select.published{ :name => "status" }
          %option{ :selected => "selected", :value => "published" }
            published
          %option{ :value => "draft" }
            draft
          %option{ :value => "to-validate" }
            to validate
      .clear
      %p
        = I18n.t('page.published_on').capitalize
        %span.last-date
          = @page.updated_at.to_date
          %br
          by
          %em
            Quentin Tousart
    .step
      = link_to I18n.t('page.preview'), '#', :class => 'small-icons preview' 
      = link_to I18n.t('page.duplicate'), '#', :class => 'small-icons duplicate' 
      = link_to I18n.t('page.delete'), '#', :class => 'small-icons delete' 
    .step.disabled
      = link_to I18n.t('page.modification_history').capitalize, '#', :class => 'small-icons step-title'
      .inner-step
        %p
          Modified on
          %span.last-date
            12/11/2009
          %br
          by
          %em
            Quentin Tousart
        %p
          Created on 11/11/2009
          %br
          by
          %em
            Quentin Tousart
    .step.disabled
      = link_to I18n.t('tag', :count => 2).capitalize, '#', :class => 'small-icons step-title'
      .inner-step.tags
        %a{ :href => "#" }
          Tag name
        %a{ :href => "#" }
          Tag name
        %a{ :href => "#" }
          Tag name
    .step
      = link_to I18n.t('page.meta_description').capitalize, '#', :class => 'small-icons step-title'
      .inner-step.meta
        %p
          %span
            = I18n.t('title', :count => 1).capitalize
            \:
          = @page.title
        %p
          %span
            = I18n.t('description').capitalize
            \:
          = @page.description
        %p
          %span
            = I18n.t('keyword', :count => 2).capitalize
            \:
          = @page.keywords
    .step.disabled
      = link_to I18n.t('graphic_template', :count => 1).capitalize, '#', :class => 'small-icons step-title'
      .inner-step.glossy
        = select_tag :template, options_for_select([['Template 1',0],['Template 2',1]])
      .clear
  .clear
