= render :partial => 'admin/menus/lang_switcher'
= render :partial => 'tabs'
#wrap
  .backgrounds.big-header
    %h1
      = @page.title
    .interact-links
      = link_to t('page.update.action').capitalize, [:edit, :admin, @page ], :class => 'backgrounds interact-button'
      = t :or
      = link_to t('page.back').capitalize, admin_pages_path, :class => 'back-link'
  #content.grid_16.alpha.omega
    .grid_12.alpha
      .inner-content
        %h2.permalink
          - permalink = "#{request.protocol}#{request.host_with_port}/#{@page.url}"
          = t(:permalink, :count => 1).capitalize
          \:
          = permalink 
        .fieldset
          %h2= t :content
          .page-content
            %iframe{ :src => page_path(@page), :width => '100%', :height => 500, :style => 'border: none' }
        - unless @page.blocks.empty?
          .fieldset
            %h2= t('block', :count => 2)
            - @page.blocks.each do |block|
              %div.block-container
                %span.block-type
                  = block.class.human_name.capitalize
                %span.block-name
                  = block.title
    #right-sidebar.grid_4.omega
      .step.status.open
        -# status = [[t('page.published'), 'published'], [t('page.draft'), 'draft'], [t('to validate'), 'to-validate']]
        - status = [[t('page.published'), 'published'], [t('page.draft'), 'draft']]
        = select_tag :status, options_for_select(status, @page.active ? 'published' : 'draft'), :class => 'published', :onchange => "#{remote_function(:url => activate_admin_page_path(@page), :with => "'active=' + value")}"
        .clear
        %p
          - unless @page.new_record? or !@page.active or @page.published_at.nil?
            = t('page.published_on').capitalize
            %span.last-date
              = @page.published_at.to_date
              %br
              -# by
              -# %em
                -# Quentin Tousart
      .step
        -# = link_to t('page.preview'), '#', :class => 'small-icons preview'
        = content_tag :span, t('page.preview'), :class => 'small-icons preview disabled'
        = link_to t('page.duplicate').capitalize, [:duplicate, :admin, @page], :class => 'small-icons duplicate'
        = link_to t('page.delete'), [:admin, @page], :confirm => t('page.destroy.confirm').capitalize, :method => :delete, :class => 'small-icons delete'
      .step.disabled
        = link_to t('page.modification_history').capitalize, '#', :class => 'small-icons step-title'
        .inner-step
          %p
            Modified on
            %span.last-date
              12/11/2009
            %br
            by
            %em
              Quentin Tousart
          %p
            Created on 11/11/2009
            %br
            by
            %em
              Quentin Tousart
      #pages_show_tags.step.open
        = link_to t('tag', :count => 2).capitalize, '#', :class => 'small-icons step-title'
        .inner-step.tags
          - @page.tags_on(:tags).each do |tag|
            -#%a{ :href => "#" }
            %label
              = tag.name
      #pages_show_meta.step.open
        = link_to t('page.meta_description').capitalize, '#', :class => 'small-icons step-title'
        .inner-step.meta
          %p
            %span
              = t(:title, :count => 1).capitalize
              \:
            = @page.meta_info.title if @page.meta_info
          %p
            %span
              = t(:description).capitalize
              \:
            = @page.meta_info.description if @page.meta_info
          %p
            %span
              = t(:keyword, :count => 2).capitalize
              \:
            = @page.meta_info.keywords if @page.meta_info
      .step.disabled
        = link_to t(:graphic_template, :count => 1).capitalize, '#', :class => 'small-icons step-title'
        .inner-step.glossy
          = select_tag :template, options_for_select([['Template 1',0],['Template 2',1]])
        .clear
    .clear
