%h1
  = I18n.t('widget.update.action.other').capitalize
- if @page
  %h2
    = I18n.t('page.one').capitalize
    = @page.title
  %h3
    - links = RailsContent::Widgets.each_value.collect do |widget| 
      - link_to I18n.t("#{widget[:id]}.create.action").capitalize, :controller => widget[:controller], :action => 'new', :page_id => @page
    = links.join(' - ')
  #edit_widgets
    %table#table
      %thead
        %tr
          %th
            = I18n.t('position').capitalize
          %th
            = I18n.t('title').capitalize
          %th
            = I18n.t('type').capitalize
          %th
            = I18n.t('action.other').capitalize
      %tbody
        - unless @page.blocks.nil? or @page.blocks.blank?
          - @page.blocks.each do |widget|
            %tr{ :class => cycle('even', 'odd') }
              %td
                = widget.position
              %td
                = link_to(widget.title, :controller => "widget_#{widget.type}s", :action => 'show', :id => widget)
              %td
                = widget.type
              %td
                = link_to I18n.t('edit').capitalize, :controller => "widget_#{widget.type}s", :action => 'edit', :id => widget, :page_id => @page
                \-
                = link_to I18n.t('move_up').capitalize, move_up_admin_page_widget_path(@page, widget)
                \-
                = link_to I18n.t('move_down').capitalize, move_down_admin_page_widget_path(@page, widget)
                \-
                = link_to I18n.t('unlink').capitalize, unlink_admin_page_widget_path(@page, widget), :confirm => I18n.t('page.widget.unlink.confirm').capitalize, :method => :delete
                \-
                = link_to I18n.t('delete').capitalize, admin_page_widget_path(@page, widget), :confirm => I18n.t('widget.destroy.confirm_associated').capitalize, :method => :delete

  %h3
    = I18n.t('existing_widgets').capitalize
  - form_tag :controller => 'admin/pages', :action => 'link', :id => @page do
    = hidden_field_tag 'page[block_ids][]'
    - @widgets.each do |widget|
      = widget.title
      = check_box_tag 'page[block_ids][]', widget.id, (widget.linked_with? @page)
      %br
    = submit_tag I18n.t('save').capitalize

= dataTables_tag(4, :sorting => true)
= dataTables_tag(3, :id => 'table_widgets', :action_column => false)
