- unless defined?(level)
  - level = 0
- categories.each do |category|
  %li
    = link_to category.name, '#', :class=>'big-icons folder'
    - unless category.children.empty?
      %ul
        - category.children.each do |child|
          = render :partial => 'admin/blocks/associated_pages', :locals => { :categories => [child], :level => (level + 1), :block => block, :element_id => element_id }
        - category.pages.each do |_page|
          %li.folder
            = _page.title
            %ul
              - _page.page_cols.each_with_index do |page, index|
                %li.page{:id => "page_col_#{page.id}", :class => block.page_cols.include?(page) ? 'clicked' : ''}
                  = link_to "#{_page.title} [#{index}]<span></span>", '#', :class => "small-icons page #{block.page_cols.include?(page) ? 'clicked' : ''}"
                  - if block.page_cols.include?(page)
                    = hidden_field_tag "#{element_id}[page_col_ids][]", page.id

- unless !defined?(pages) || pages.nil? || pages.blank? || pages.empty?
  - pages.each do |_page|
    %li.big-icons.folder
      = _page.title
      %ul
        - _page.page_cols.each_with_index do |page, index|
          %li.page{:id => "page_col_#{page.id}", :class => block.page_cols.include?(page) ? 'clicked' : ''}
            = link_to "#{t("page_col_#{index}").capitalize}<span></span>", '#', :class => "small-icons page #{block.page_cols.include?(page) ? 'clicked' : ''}"
            - if block.page_cols.include?(page)
              = hidden_field_tag "#{element_id}[page_col_ids][]", page.id
