<%= include_tiny_mce_if_needed %>

<% form_for [:admin, block], :url => (block.new_record? ? admin_blocks_path : admin_block_path(block)), :html => { :method => (block.new_record? ? :post : :put), :multipart => true } do |f| %>
  <%= f.error_messages %>
  <p>
    <b><label><%= I18n.t('title').capitalize %></label></b>
    <%= f.text_field :title %>
  </p>

  <p>
    <b><label><%= I18n.t('content').capitalize %></label></b>
    <p><%= link_to_function I18n.t('editor.show.action'), "toggleEditor('block_content',this)" %></p>
  </p>
  <%= f.text_area :content, :cols => 80 %>

  <%= hidden_field_tag 'page_id', page_id if defined?(page_id) && !page_id.blank? %>

  <%= submit_tag I18n.t('save').capitalize %>
<% end %>
