%p
  %span{:id => "links_#{link_id}"}
    - block.pages.all.each do |page|
      - page_link_id = "#{link_id}_page_#{page.id}"
      %span.block-selected{ :id=> page_link_id }
        = link_to_remote('', :url => unlink_admin_page_block_path(page, block), :method => :delete, :confirm => I18n.t('page.unlink.confirm').capitalize, :success => "$('##{page_link_id}').remove()", :html => { :class => 'big-icons big-icons-verti-delete-icon'})
        = link_to(page.title, [:admin, page])
        %br
  = link_to(I18n.t('block.link.create.action'), '#', :class => 'small-icons small-icons-verti-small-blue-plus page-link', :id => "link_#{link_id}")
