<%= render :partial => 'top_links', :locals => { :block => @block } %>

<h1><%= I18n.t('link_block_page').capitalize %></h1>

<h2><%= I18n.t('block', :count => 1).capitalize %> - <%= @block.title if @block %></h2>

<% if @block %>
  <% form_for :block, @block, :url => { :action => 'edit_links', :id => @block.id } do |f| %>

  <p>
    <h3><%= I18n.t('page.other').capitalize %></h3>
    <% selected_pages = @block.pages.collect {|page| page.id.to_i } %>
    <%= select_tag 'pages[]', options_from_collection_for_select(@pages, "id", "title", selected_pages), { :multiple => true, :disabled => @disabled } %>
  </p>

  <%= submit_tag I18n.t('save').capitalize %> 
  <% end %>
<% end %>

<%= link_to I18n.t('back').capitalize, :back %>
