%h1
  = I18n.t('block.list').capitalize
- content_for :tools, link_to(I18n.t('block.create.action').capitalize, new_admin_block_path, :class => 'add' )
#list_blocks
  %table#table
    %thead
      %tr
        %th
          = I18n.t('title').capitalize
        %th
          = I18n.t('linked_pages').capitalize
        %th
          = I18n.t('action', :count => 2).capitalize
    %tbody
      - unless @blocks.nil? or @blocks.blank?
        - @blocks.each do |block|
          %tr{ :class => cycle('even', 'odd') }
            %td
              = link_to block.title, admin_block_path(block)
            %td
              = block.pages.size
            %td
              = link_to I18n.t('edit').capitalize, edit_admin_block_path(block)
              \-
              = link_to I18n.t('delete').capitalize, admin_block_path(block), :confirm => I18n.t('block.destroy.confirm').capitalize, :method => :delete
              \-
              = link_to I18n.t('edit_links').capitalize, edit_links_admin_block_path(block)
      - else
        %tr
          %td{ :colspan => "3" }
            = I18n.t('block.none').capitalize

= dataTables_tag(3)
