<%= render :partial => 'top_links', :locals => { :block => @block } %>

<h1><%= I18n.t('block.show').capitalize %></h1>

<% if @block %>
  <table id="block_infos">
    <tr>
      <th><%= I18n.t('title').capitalize %></th>
      <td><%=h @block.title %></td>
    </tr>

    <tr>
      <th><%= I18n.t('content').capitalize %></th>
      <td><%= @block.content %></td>
    </tr>
  </table>
<% end %>

<%= link_to I18n.t('back').capitalize, :back %>
