= render :partial => 'top_links', :locals => { :wnew => @wnew }

%h1
  = I18n.t('wnew.show').capitalize
  \:
%br
- if @wnew
  %h2
    = h @wnew.title.capitalize
  %br
- unless @news.nil?
  %h3
    = I18n.t('wnew.linked_news').capitalize
  #list_news
    %table#table
      %thead
        %tr
          %th
            = I18n.t('title').capitalize
          %th
            = I18n.t('content').capitalize
      %tbody
        - @news.each do |new|
          %tr
            %td
              = h new.title.capitalize
            %td
              = new.content
= dataTables_tag(2)