= form_for [forgeos_cms, :admin, widget_faq], :html => { :id => 'wrap' } do |f|

  .backgrounds.big-header
    = f.text_field :title,:class => 'element_form_name defaultValue'
    .interact-links
      = submit_tag t('save_changes').capitalize, :class => 'backgrounds interact-button'
      = t('or')
      = link_to t('cancel').capitalize, forgeos_cms.admin_widgets_path, :class => 'back-link'

  #content.grid_12.alpha.omega
    .inner-content
      .widgetfaq_content
        /%ul
        /  - f.fields_for :faqs do |faq|
        /    %li
        /      = faq.label :question
        /      = faq.text_field :question, :size => 75
        /      = faq.label :answer
        /      = faq.text_area :answer, :cols => 65, :rows => 5

        %ul.faq_ul
          = f.fields_for :faqs do |faq|
            - nested_id = "faq_#{faq.object.id}"
            %li{ :id => nested_id }
              = faq.hidden_field :_destroy, :class => 'destroy'
              = faq.label :question
              = faq.text_field :question, :size => 75
              = link_to_function('&nbsp;', "remove_rails_nested_object('##{nested_id}');", :title =>'Supprimer cette question', :class => 'small-icons destroy-link')
              %br
              = faq.label :answer
              = faq.text_area :answer, :cols => 65, :rows => 5, :class => 'mceEditor'
              %br
              %br

  #right-sidebar.grid_4.alpha.omega
    .step
      = link_to content_tag(:span, t('widget_faq.item.add').capitalize, :class=>'big-icons add-carousel-item'), '#', :class => 'backgrounds button add-faq-item'
    .step
      = content_tag :span, t('preview').capitalize, :class => 'small-icons preview disabled'
      - unless widget_faq.new_record?
        = link_to t('delete'), [forgeos_cms, :admin, widget_faq], :confirm => t('widget_faq.destroy.confirm').capitalize, :method => :delete, :class => 'small-icons delete'
    #widget_faq_create.step.open
      %a.small-icons.step-title{ :href => "#" }
        = "#{I18n.t('static_content_block.link.create.action').capitalize} :"
      = hidden_field_tag 'widget_faq[page_col_ids][]'
      #association-widget-faq-page-tree.inner-step.init-tree
        %ul
          = render :partial => 'admin/blocks/associated_pages', :locals => { :categories => @page_categories, :pages => @pages, :block => widget_faq, :element_id => 'widget_faq' }
      .clear

    .step
      %a.small-icons.step-title{ :href => "#" }
        = "#{I18n.t('folder.associated_to').capitalize} :"
      = hidden_field_tag 'widget_faq[category_ids][]'
      #association-widget-faq-tree.inner-step.init-tree
        %ul
          = render :partial => 'admin/categories/associated_elements', :locals => { :association_id => 'category_ids', :element => widget_faq, :category_ids => widget_faq.category_ids, :categories => WidgetCategory.find_all_by_parent_id(nil) }
      .clear

#faq_item_pattern{:style => 'display: none'}
  = label "widget_faq[faqs_attributes][EMPTY_ID]", :question
  = text_field "widget_faq[faqs_attributes][EMPTY_ID]", :question, :size => 75
  = link_to_function('&nbsp;', "remove_rails_nested_object('#faq_EMPTY_ID');", :title =>'Supprimer cette question', :class => 'small-icons destroy-link')
  %br
  = label "widget_faq[faqs_attributes][EMPTY_ID]", :answer
  = text_area "widget_faq[faqs_attributes][EMPTY_ID]", :answer, :cols => 65, :rows => 5
  %br
  %br
