%h1
  = I18n.t('news').capitalize
- content_for :tools, link_to(I18n.t('new.create.action').capitalize, new_admin_news_path, :class => 'add')
#news_list
  %table#table
    %thead
      %tr
        %th
          = I18n.t('new.date').capitalize
        %th
          = I18n.t('new.author').capitalize
        %th
          = I18n.t('new.title').capitalize
        %th
          = I18n.t('active').capitalize
        %th
          = I18n.t('action', :count => 2).capitalize
    %tbody
      - @news.each do |n|
        %tr
          %td
            = n.created_at.to_date
          %td
            = n.admin.fullname
          %td
            = n.title
          %td
            = n.active ? I18n.t('_yes').capitalize : I18n.t('_no').capitalize
          %td
            = link_to I18n.t('show').capitalize, admin_news_path(n)
            \-
            = link_to I18n.t('edit').capitalize, edit_admin_news_path(n)
            \-
            = link_to I18n.t('destroy').capitalize, admin_news_path(n), :method => 'delete', :confirm => I18n.t('new.destroy.confirm').capitalize

= dataTables_tag(5)
