<% content_for :meta do %>
  <meta name="keywords" content="<%= @page.keywords if @page %>" />
  <meta name="description" content="<%= @page.description if @page %>" />
<% end %>

<% content_for :title do %>
 - <%= @page ? @page.title : 'Page not found' %>
<% end %>

<!--content-->
<div id="content">
  <% if @page %>
    <div id="page_<%= @page.id %>">
      <%= @page.content %>
    </div>

  <% else %>
    <%= I18n.t('page_not_found').capitalize %>
  <% end %>

  <% if @blocks && !@blocks.empty? %>
    <% @blocks.each do |block| %>
      <div id="block_<%= block.id %>"><%= block.content %></div>
    <% end %>
  <% end %>
</div>
<!--content-end-->
