- if @page && @page.meta_info
  - content_for :meta_keywords, @page.meta_info.keywords
  - content_for :meta_description, @page.meta_info.description
- content_for :title, "- #{@page ? @page.title : 'Page not found'}"
.before_breadcrumbs
.breadcrumbs
  .inner-breadcrumbs
    %a{ :href => "#" }
      Accueil
    >
    = @page.title if @page
.inner-content
  .cart-step-content
    - if @page
      %div{ :id => "page_#{@page.id}" }
        = @page.content
      - if @blocks && !@blocks.empty?
        - @blocks.each do |block|
          %div{ :id => "block_#{block.id}" }
            = block.content

      = render :partial => 'cms/linked_pages', :locals => { :linked_pages => @page.linked_pages }

    - else
      = I18n.t('page_not_found').capitalize
