%h2
  = I18n.t('item', :count => 2).capitalize
- if edition_mode
  %h3
    = link_to(I18n.t('item.create.action', :count => 2).capitalize, new_admin_widget_carousel_item_path(carousel))
#list_carousel_items
  %table#table
    %thead
      %tr
        %th
          = I18n.t('picture', :count => 1).capitalize
        %th
          = I18n.t('picture.alternative').capitalize
        %th
          = I18n.t('url').capitalize
        - if edition_mode
          %th
            = I18n.t('action', :count => 3).capitalize
    %tbody
      - unless carousel.nil? or carousel.items.empty?
        - carousel.items.each do |item|
          %tr{ :id => "item_#{item.id}" }
            %td
              = image_tag item.picture.public_filename(:thumb) if item.picture
            %td
              = item.picture.alternative if item.picture
            %td
              = item.url.blank? ? 'no url' : link_to(item.url, item.url)
            - if edition_mode
              %td
                = link_to I18n.t('edit').capitalize, edit_admin_widget_carousel_item_path(carousel, item)
                \-
                = link_to I18n.t('delete').capitalize, admin_widget_carousel_item_path(carousel, item), :confirm => I18n.t('item.destroy.confirm').capitalize, :method => :delete

- if edition_mode 
  = dataTables_tag(4)
- else
  = dataTables_tag(3, :action_column => false)
