- if @page && @page.meta_info
  - content_for :title, @page.meta_info.title
  - content_for :description, @page.meta_info.description
  - content_for :keywords, @page.meta_info.keywords
.inner-content
  - if @page
    - if @blocks && !@blocks.empty?
      - @blocks.each do |block|
        -if block.is_a? Carousel
          .carousel-list
            .slider_product
              %ul#slider_products.jcarousel-list
                -block.items.each do |item|
                  %li.jcarousel-item
                    = link_to image_tag(item.picture.public_filename(:normal), :alt => item.picture.name ), item.url
                    %span= item.title
        -else
          %div{ :id => "block_#{block.id}" }
            = block.content
    .cart-step-content
      %div{ :id => "page_#{@page.id}" }
        = @page.content
	
    = render :partial => 'linked_pages', :locals => { :linked_pages => @page.linked_pages }

  - else
    = I18n.t('page_not_found').capitalize
