<% form_for [:admin, section], :url => (section.new_record? ? admin_sections_path : admin_section_path(section)), :html => { :method => (section.new_record? ? :post : :put), :multipart => true } do |f| %>
  <%= f.error_messages %>
  <p>
    <b><label><%= I18n.t('title').capitalize %></label></b>
    <%= f.text_field :title %>
  </p>
  
  <p>
    <b><label><%= I18n.t('url').capitalize %></label></b>
    <%= f.text_field :url %>
  </p>

  <p>
    <b><label><%= I18n.t('display_in_menu').capitalize %></label></b>
    <%= f.check_box :menu %>
  </p>

  <p>
    <b><label><%= I18n.t('parent').capitalize %></label></b>
    <%= f.collection_select :parent_id, sections, :id, :title, { :include_blank => 'None' } %>
  </p>

  <%= submit_tag I18n.t('save').capitalize %>
<% end %>
