<% form_for :section, section, :url => { :action => action } do |f| %>
<p>
  <b><label>Title</label></b>
  <%= f.text_field :title %>
</p>

<p>
  <b><label>URL</label></b>
  <%= f.text_field :url %>
</p>

<p>
  <b><label>Display in menu</label></b>
  <%= f.check_box :menu %>
</p>

<p>
  <b><label>Parent</label></b>
  <%= f.collection_select :parent_id, sections, :id, :title, { :include_blank => 'None' } %>
</p>

<%= submit_tag 'Save' %>
<% end %>
