<%= render :partial => 'top_links', :locals => { :section => @section } %>

<h1><%= I18n.t("section.show").capitalize %></h1>

<% if @section %>
  <table id="section_infos">
    <tr>
      <th><%= I18n.t('title').capitalize %></th>
      <td><%=h @section.title %></td>
    </tr>

    <tr>
      <th><%= I18n.t('url').capitalize %></th>
      <td><%= !@section.url.blank? ? @section.url : '-' %></td>
    </tr>

    <tr>
      <th><%= I18n.t('display_in_menu').capitalize %></th>
      <td><%= @section.menu ? I18n.t('_yes').capitalize : I18n.t('_no').capitalize %></td>
    </tr>

    <tr>
      <th><%= I18n.t('parent').capitalize %></th>
      <td>
        <% if @section.parent %>
          <%= link_to @section.parent.title, :action => 'show', :id => @section.parent.id %>
        <% else %> - <% end %> 
      </td>
    </tr>

    <tr>
      <th><%= I18n.t('position').capitalize %></th>
      <td><%= @section.position ? @section.position : '-' %></td>
    </tr>

    <tr>
      <th><%= I18n.t('sub_section', :count => 2).capitalize %></th>
      <td>
        <% unless @section.children.blank? %>
          <%= @section.children.collect { |sub_section|
              link_to(sub_section.title, 
                      :action => 'show', :id => sub_section.id) }.join(', ') %>
        <% else %> - <% end %>
      </td>
    </tr>
  </table>
<% end %>

<%= link_to I18n.t('back').capitalize, :back %>
