= render :partial => 'tabs'
%h1
  = I18n.t("section.show").capitalize
- if @section
  %table#section_infos
    %tr
      %th
        = I18n.t('title').capitalize
      %td
        = h @section.title
    %tr
      %th
        = I18n.t('url').capitalize
      %td
        = !@section.url.blank? ? @section.url : '-'
    %tr
      %th
        = I18n.t('display_in_menu').capitalize
      %td
        = @section.menu ? I18n.t('_yes').capitalize : I18n.t('_no').capitalize
    %tr
      %th
        = I18n.t('parent').capitalize
      %td
        - if @section.parent
          = link_to @section.parent.title, admin_section_path(@section.parent)
        - else
          \-
    %tr
      %th
        = I18n.t('position').capitalize
      %td
        = @section.position ? @section.position : '-'
    %tr
      %th
        = I18n.t('sub_section', :count => 2).capitalize
      %td
        - unless @section.children.blank?
          = @section.children.collect { |sub_section| link_to sub_section.title, admin_section_path(sub_section) }.join(', ')
        - else
          \-
