- content_for :tools do
  = link_to(I18n.t('list').capitalize, admin_widget_carousels_path, :class => 'house' )
  = link_to(I18n.t('carousel.show').capitalize, admin_widget_carousel_path(carousel))

- form_for [:admin, item], :url => (item.new_record? ? create_item_admin_widget_carousel_path(carousel) : update_item_admin_widget_carousel_path(item)), :html => { :method => (item.new_record? ? :post : :put), :multipart => true } do |f|
  = image_tag item.picture.public_filename(:thumb) if item.picture
  %p
    %b
      %label
        = I18n.t('picture', :count => 1).capitalize
    = file_field :picture, :uploaded_data
  %p
    %b
      %label
        = I18n.t('picture.alternative').capitalize
    = text_field_tag 'picture[alternative]', item.picture ? item.picture.alternative : ''
  %p
    %b
      %label
        = I18n.t('url').capitalize
    = f.text_field :url
  = hidden_field_tag 'item[carousel_id]', item.carousel_id
  = submit_tag I18n.t('save').capitalize
