= render :partial => 'top_links', :locals => { :carousel => @carousel }
%h1
  = I18n.t('carousel.show').capitalize
- if @carousel
  %table#carousel_infos
    %tr
      %th
        = I18n.t('title').capitalize
      %td
        = h @carousel.title
    %tr
      %th
        = I18n.t('item.count').capitalize
      %td
        = h @carousel.items.size
  = render :partial => 'admin/widget_carousel_items/list', :locals => { :carousel => @carousel, :edition_mode => false }
