%ul.ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header.ui-corner-all
  %li.ui-state-default.ui-corner-top= link_to t('page', :count => 2).capitalize, forgeos_cms.admin_pages_path
  %li.ui-state-default.ui-corner-top.ui-tabs-selected.ui-state-active= link_to t('block', :count => 2).capitalize, '#content'
  %li.ui-state-default.ui-corner-top= link_to t('navigation').capitalize, forgeos_cms.admin_menus_path
  %li.ui-state-default.ui-corner-top= link_to I18n.t('actuality', :count => 2).capitalize, forgeos_cms.admin_actualities_path
#sub-links
  %ul
    %li= link_to I18n.t('static_content_block', :count => 1).capitalize, [forgeos_cms, :admin, :static_content_blocks]
    %li= link_to I18n.t('widget', :count => 2).capitalize, '#', :class => 'selected'
