- form_for [:admin, carousel], :html => { :id => 'wrap' } do |f|
  = hidden_field_tag 'page_id', page_id if defined?(page_id) && !page_id.blank?

  .backgrounds.big-header
    = f.text_field :title
    .interact-links
      .borders.interact-button-left
      = submit_tag I18n.t('save_changes').capitalize, :class => 'backgrounds interact-button'
      .borders.interact-button-right
      = I18n.t('or')
      = link_to I18n.t('cancel').capitalize, admin_widgets_path, :class => 'back-link'

  #content.grid_12.alpha.omega
    .inner-content
      .fieldset
        %h2
          = I18n.t('widget_settings').capitalize
        -#= f.label :news_since, I18n.t('wactuality.actualities_since').capitalize
        -#= f.date_select :news_since, :prompt => true
      = hidden_field_tag 'carousel[item_ids][]'

      #carousel_items.sortable.widget-list
        = render :partial => 'item', :collection => @carousel.items

      = link_to I18n.t('picture.add').capitalize, admin_widgets_path, :class => 'small-icons add-link add-picture'

  #right-sidebar.grid_4.alpha.omega
    .step
      -#%a.backgrounds.button{ :href => new_admin_carousel_item_path(carousel) }
        -#%span.big-icons.add-picture
          -#= I18n.t('picture.add').capitalize
      = link_to content_tag(:span, I18n.t('picture.add').capitalize, :class=>'big-icons add-picture'), '#', :class=>'backgrounds button'
    .step
      -#= link_to I18n.t('preview'), '#', :class => 'small-icons preview'
      = content_tag :span, I18n.t('preview').capitalize, :class => 'small-icons preview disabled'
      - unless carousel.new_record?
        = link_to I18n.t('duplicate'), [:duplicate, :admin, carousel], :class => 'small-icons duplicate'
        = link_to I18n.t('delete'), [:admin, carousel], :confirm => I18n.t('carousel.destroy.confirm').capitalize, :method => :delete, :class => 'small-icons delete'
    .step.open
      %a.small-icons.step-title{ :href => "#" }
        = "#{I18n.t('widget.link.create.action').capitalize} :"
      #association-carousel-page-tree.inner-step
        %ul
          = render :partial => 'admin/blocks/associated_pages', :locals => { :categories => @page_categories, :pages => @pages, :block => carousel, :element_id => 'carousel' }
      .clear
    .step.open
      %a.small-icons.step-title{ :href => "#" }
        = "#{I18n.t('folder.associated_to').capitalize} :"
      #association-carousel-tree.inner-step
        %ul
          = render :partial => 'admin/categories/associated_elements', :locals => { :association_id => 'block_category_ids', :element => carousel, :category_ids => carousel.block_category_ids, :categories => WidgetCategory.find_all_by_parent_id(nil) }
      .clear
  .clear

  #imageUploadDialog.upload-lightbox-container.white
    #imageUpload
      = f.file_field :uploaded_data
      = hidden_field_tag :target, params[:target]
      = hidden_field_tag :target_id, params[:target_id]
      = f.submit I18n.t('save').capitalize

  - session_key = ActionController::Base.session_options[:key]
  - javascript_tag do
    function initImageUpload(){
    $('#imageUploadDialog').html('<div id="imageUpload"></div>');
    $('#imageUpload').uploadify({
    'uploader': '/images/uploadify/uploadify.swf',
    = "'cancelImg': '#{image_path('admin/big-icons/delete-icon.png')}',"
    = "'script': '#{admin_attachments_path(:file_type => 'picture')}',"
    = "'buttonImg' :'#{image_path("uploadify/upload-button_#{I18n.locale}.png")}',"
    'width' :'154',
    'height' :'24',
    'scriptData': {
    'format': 'json',
    = "'authenticity_token': encodeURIComponent('#{u form_authenticity_token}')," if protect_against_forgery?
    = "'#{session_key}': encodeURIComponent('#{cookies[session_key]}')"
    },
    'ScriptAccess': 'always',
    'multi': 'true',
    'displayData': 'speed',
    'onComplete': function(e,queueID,fileObj,response,data){
    result = JSON.parse(response);
    if (result.result == 'success'){
    image_path = result.path;
    image_id = result.id;
    = "object_name='#{f.object_name}';"
    // FIXME $('#product-images ul.sortable li.clear').before('<li><a href="#" onclick="$(this).parents(\'li\').remove(); return false;" title="" class="big-icons trash"></a><a class="big-icons edit" href="#"></a><input type="hidden" name="'+object_name+'[attachment_ids][]" value="'+image_id+'"/><img src="'+image_path+'" alt="'+fileObj.name+'"/><div class="handler"><div class="inner"></div></div></li>');
    } else {
    display_notification_message('error',result.error)
    }
    },
    'onAllComplete': function(){
    // FIXME $('#product-images .sortable li:eq(0)').addClass('first-image');
    $('#imageUploadDialog').dialog('close');
    }
    });}

= render :partial => 'admin/carousel_items/form_item', :collection => @carousel.items
= stylesheet_link_tag 'admin/uploadify'
= javascript_include_tag %w(swfobject jquery.uploadify)
