- if carousel
  - carousel_clone = carousel.clone.attributes
- else
  - carousel_clone = carousel.new.attributes

- form_for [:admin, carousel], :html => { :id => 'wrap' } do |f|
  = hidden_field_tag 'page_id', page_id if defined?(page_id) && !page_id.blank?

  .backgrounds.big-header
    = f.text_field :title
    .interact-links
      .borders.interact-button-left
      = submit_tag I18n.t('save_changes').capitalize, :class => 'backgrounds interact-button'
      .borders.interact-button-right
      = I18n.t('or')
      = link_to I18n.t('cancel').capitalize, admin_widgets_path, :class => 'back-link'

  #content.grid_12.alpha.omega
    .inner-content
      .fieldset
        %h2
          = I18n.t('widget_settings').capitalize
        -#= f.label :news_since, I18n.t('wactuality.actualities_since').capitalize
        -#= f.date_select :news_since, :prompt => true
      #carousel_items
        = render :partial => 'admin/carousel_items/list', :locals => { :carousel => @carousel, :edition_mode => true }

      /Here I did my stuff
      .sortable.widget-list
        .block-container.widget-modify
          .block-type
            %span.handler
              %span.inner
            %div
              ="<img src='/images/admin/bouteille-vin.png' alt='image-carousel'/>"
          .block-name
            ="tudu"
          .widget-actions
            = link_to '','#', :class => 'small-icons duplicate-link'
            = link_to '','#', :class => 'small-icons edit-link'
            = link_to '','#', :class => 'small-icons destroy-link'
          .clear
        .block-container.widget-modify
          .block-type
            %span.handler
              %span.inner
            %div
              ="<img src='/images/admin/bouteille-vin.png' alt='image-carousel'/>"
          .block-type.editing
            %span.handler
              %span.inner
            %div
              %label
                ="Picture :"
              %label.picture-title
                ="Picture title :"
              %label
                ="Link :"
              %label
                ="Description :"
          .block-name
            ="tudu"
            %p
              ="Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit."
          .block-name.editing
            .widget-picture
              = "<img src='/images/admin/bouteille-vin.png' alt='image-carousel'/>"
              = link_to "change picture", admin_widgets_path
            %input
            .widget-url
              %span
                ="http://"
              %input
              .clear
            %textarea
            %div.actions
              = link_to content_tag(:span,I18n.t('save_changes'),:class=>'small-icons save'),'#',:class=>'backgrounds action-button'
              = I18n.t('or')
              = link_to I18n.t('cancel').capitalize, admin_widgets_path, :class => 'back-link'
          .widget-actions
            = link_to '','#', :class => 'small-icons duplicate-link'
            = link_to '','#', :class => 'small-icons edit-link'
            = link_to '','#', :class => 'small-icons destroy-link'
          .clear
        /And there it finish

  #right-sidebar.grid_4.alpha.omega
    .step
      %a.backgrounds.button{ :href => new_admin_carousel_item_path(carousel) }
        %span.big-icons.add-picture
          = I18n.t('picture.add').capitalize
    .step
      -#= link_to I18n.t('preview'), '#', :class => 'small-icons preview'
      = content_tag :span, I18n.t('preview').capitalize, :class => 'small-icons preview disabled'
      - unless carousel.new_record?
        = link_to I18n.t('duplicate'), new_admin_carousel_path(:carousel => carousel_clone), :class => 'small-icons duplicate'
        = link_to I18n.t('delete'), [:admin, carousel], :confirm => I18n.t('carousel.destroy.confirm').capitalize, :method => :delete, :class => 'small-icons delete'
    .step.open
      #association-tree.inner-step
        %ul
          - unless @pages.nil? or @pages.blank?
            - @pages.each do |page|
              %li
                = link_to page.title, '#'
                %span
                  = check_box_tag 'carousel[pages_ids][]', carousel.id, (carousel.linked_with? @page)
      .clear
  .clear
