<% @content_for_tools << link_to(I18n.t('role.create.action').capitalize, new_admin_role_path, :class => 'add') %>

<h1><%= I18n.t('role', :count => 2).capitalize %></h1>

<table id="table">
  <thead>
    <tr>
      <th><%= I18n.t('form.field.name').capitalize %></th>
      <th><%= I18n.t('action', :count => 2).capitalize %></th>
    </tr>
  </thead>

  <tbody>
    <% unless @roles.nil? or @roles.blank? %>
      <% @roles.each do |role| %>
        <tr class="<%= cycle('even', 'odd') %>">
          <td><%=h role.name %></td>
          <td>
            <%= link_to I18n.t('show').capitalize, admin_role_path(role) %> -
            <%= link_to I18n.t('edit').capitalize, edit_admin_role_path(role) %> -
            <%= link_to I18n.t('destroy').capitalize, admin_role_path(role), :confirm => I18n.t('role.destroy.confirm').capitalize, :method => :delete %>
          </td>
        </tr>
      <% end %>

    <% else %>
      <tr> 
        <td colspan="2"><%= I18n.t('role.none').capitalize %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= javascript_tag "$($('#table').dataTable({
        'aoColumns': [
            null,
            { 'bSearchable': false, 'bSortable': false }
        ],
        'oLanguage': { 
        'sProcessing':'#{I18n.t('jquery.dataTables.oLanguage.sProcessing')}',
        'sLengthMenu':'#{I18n.t('jquery.dataTables.oLanguage.sLengthMenu')}',
        'sZeroRecords':'#{I18n.t('jquery.dataTables.oLanguage.sZeroRecords')}',
        'sInfo':'#{I18n.t('jquery.dataTables.oLanguage.sInfo')}',
        'sInfoEmpty':'#{I18n.t('jquery.dataTables.oLanguage.sInfoEmpty')}',
        'sSearch':'#{I18n.t('jquery.dataTables.oLanguage.sSearch')}' }
    }
))" %>
