%h1
  = I18n.t('actualities').capitalize
#news_list
  %table#table
    %thead
      %tr
        %th
          = I18n.t('actuality.date').capitalize
        %th
          = I18n.t('actuality.author').capitalize
        %th
          = I18n.t('title').capitalize
        %th
          = I18n.t('comment', :count => 2).capitalize
        %th
          = I18n.t('active').capitalize
        %th
          = I18n.t('action', :count => 2).capitalize
    %tbody
      - @actualities.each do |actuality|
        %tr
          %td
            = actuality.created_at.to_date
          %td
            = actuality.admin.fullname
          %td
            = actuality.title
          %td
            = actuality.comments.count
          %td
            = actuality.active ? I18n.t('_yes').capitalize : I18n.t('_no').capitalize
          %td
            = link_to I18n.t('show').capitalize, [:admin, actuality]
            \-
            = link_to I18n.t('edit').capitalize, [:edit, :admin, actuality]
            \-
            = link_to I18n.t('destroy').capitalize, [:admin,actuality], :method => 'delete', :confirm => I18n.t('actuality.destroy.confirm').capitalize

= dataTables_tag(6)
