%h1
  = I18n.t('actuality.show').capitalize
- if @actuality
  %table
    %tr
      %th
        = I18n.t('actuality.author').capitalize
      %td
        = h @actuality.admin.fullname
    %tr
      %th
        = I18n.t('title').capitalize
      %td
        = h @actuality.title
    %tr
      %th
        = I18n.t('content').capitalize
      %td
        = @actuality.content
    %tr
      %th
        = I18n.t('actuality.date').capitalize
      %td
        = h @actuality.created_at.to_date
  %h2
    = I18n.t('comment', :count => @actuality.comments.count).capitalize
  %table
    %th
      = I18n.t('title')
    %th
      = I18n.t('comment.author')
    %th
      = I18n.t('comment.date')
    %th
      = I18n.t('actions')
    - @actuality.comments.each do |comment|
      %tr
        %td
          = comment.title
        %td
          = link_to(comment.person.fullname, [:admin, comment.person])
        %td
          = comment.created_at.to_date
        %td
          = link_to(I18n.t('show').capitalize, [:admin, @actuality, comment])
          \-
          = link_to(I18n.t('edit').capitalize, [:edit, :admin, @actuality, comment])
          \-
          = link_to(I18n.t('destroy').capitalize, [:admin, @actuality, comment], :confirm => I18n.t('comment.destroy.confirm').capitalize, :method => :delete)
