- form_for [:admin, widget_actuality], :html => { :id => 'wrap' } do |f|
  = hidden_field_tag 'page_id', page_id if defined?(page_id) && !page_id.blank?

  .backgrounds.big-header
    = f.text_field :title, :class => 'field_name'
    .interact-links
      = submit_tag t('save_changes').capitalize, :class => 'backgrounds interact-button'
      = t('or')
      = link_to t('cancel').capitalize, admin_widgets_path, :class => 'back-link'

  #content.grid_12.alpha.omega
    .inner-content
      .fieldset
        %h2= t('widget_settings').capitalize
        #actualities.widget-list.nested_sortable
          = render :partial => 'form_item', :locals => { :form => f, :widget_actuality => widget_actuality }
        = link_to t('actuality.create.action').capitalize, '#', :class => 'small-icons add-link add-actuality'

  #right-sidebar.grid_4.alpha.omega
    .step
      = link_to t('actuality.create.action').capitalize, '#', :class => 'small-icons small-icons-verti-small-blue-plus add-actuality'
      -#= link_to t('preview'), '#', :class => 'small-icons preview'
      = content_tag :span, t('preview').capitalize, :class => 'small-icons preview disabled'
      - unless widget_actuality.new_record?
        = link_to t('duplicate'), [:duplicate, :admin, widget_actuality], :class => 'small-icons duplicate'
        = link_to t('delete'), [:admin, widget_actuality], :confirm => t('widget_actuality.destroy.confirm').capitalize, :method => :delete, :class => 'small-icons delete'
    #widget_show_create.step.open
      %a.small-icons.step-title{ :href => "#" }
        = "#{t('widget.link.create.action').capitalize} :"
      #association-widget-actuality-page-tree.inner-step.init-tree
        %ul
          = render :partial => 'admin/blocks/associated_pages', :locals => { :categories => page_categories, :pages => pages, :block => widget_actuality, :element_id => 'widget_actuality' }
      .clear
    .step
      %a.small-icons.step-title{ :href => "#" }
        = "#{t('folder.associated_to').capitalize} :"
      #association-widget-actuality-tree.inner-step.init-tree
        %ul
          = render :partial => 'admin/categories/associated_elements', :locals => { :association_id => 'block_category_ids', :element => widget_actuality, :category_ids => widget_actuality.block_category_ids, :categories => WidgetCategory.find_all_by_parent_id(nil) }
      .clear
  .clear

#form_actuality.block-container.widget-modify.actuality.lightbox-actuality.open{:style => 'display: none;'}
  - id = "FORM_ID"
  = hidden_field_tag "widget_actuality[items_attributes][#{id}][_delete]", '', :class => 'delete'

  .block-type.editing{:id => "edit_item_#{id}", :style => 'display: block;'}
    %span.edit
    %div
      %label= "#{t(:title).capitalize} :"
      %label= "#{t('content').capitalize} :"

  .block-name.editing{:id => "edit_item_#{id}", :style => 'display: block;'}
    %p{ :id => "widget_actuality_item_title_#{id}", :class => 'widget_actuality_title' }
      = text_field_tag "widget_actuality[items_attributes][#{id}][title]"
    %p{ :id => "widget_actuality_item_content_#{id}", :class => 'widget_actuality_content' }
      = text_area_tag "widget_actuality[items_attributes][#{id}][content]", '', :class => 'mceEditor'

    %div.actions
      = link_to content_tag(:span, t(:ok).capitalize, :class => 'small-icons save'), '#', :id => 'submit_actuality', :class => 'backgrounds action-button'
      = t('or')
      = link_to t(:cancel).capitalize, '#', :class => 'back-link'
  .clear

#empty_actuality.block-container.widget-modify{:style => 'display: none;'}
  - id = "EMPTY_ID"
  .inner_block-container
    .block-type{:style => 'display: none;'}
      %span.handler
        %span.inner

    .block-type.editing{:id => "edit_item_#{id}", :style => 'display: block;'}
      %span.handler
        %span.inner
      %div
        %label= "#{t(:title).capitalize} :"
        %label= "#{t('content').capitalize} :"
    .block-name
      = hidden_field_tag "widget_actuality[items_attributes][#{id}][_delete]", '', :class => 'delete'
      = hidden_field_tag "widget_actuality[items_attributes][#{id}][position]"
      = text_field_tag "widget_actuality[items_attributes][#{id}][title]", '', :style => 'display: none;'
      = text_area_tag "widget_actuality[items_attributes][#{id}][content]", '', :class => 'mceEditor', :style => 'display: none;'
    .widget-actions
      = link_to_function '','duplicate_actuality("item_'+id+'")', '', :class => 'small-icons duplicate-link duplicate-actuality'
      = link_to_function '','edit_actuality($(this))', '', :class => 'small-icons edit-link edit-actuality'
      = link_to_function '', "remove_actuality($(this));", :class => 'small-icons destroy-link'
    .clear

