= render :partial => 'tabs'
#wrap
  .backgrounds.big-header
    %h1
      = @widget_actuality.title
    .interact-links
      = link_to I18n.t('widget.update.action', :count => 1).capitalize, [:edit, :admin, @widget_actuality ], :class => 'backgrounds interact-button'
      = I18n.t('or')
      = link_to I18n.t('widget.back').capitalize, admin_blocks_path, :class => 'back-link'
  #content.grid_12.alpha.omega
    .inner-content
      .fieldset
        %h2= I18n.t('widget_settings').capitalize
      #actualities.nested_sortable.widget-list
        = render :partial => 'item', :collection => @widget_actuality.items

  #right-sidebar.grid_4.alpha.omega
    .step
      -#= link_to I18n.t('preview'), '#', :class => 'small-icons preview'
      = content_tag :span, I18n.t('preview').capitalize, :class => 'small-icons preview disabled'
      = link_to I18n.t('duplicate'), [:duplicate, :admin, @widget_actuality], :class => 'small-icons duplicate'
      = link_to I18n.t('delete'), [:admin, @widget_actuality], :confirm => I18n.t('widget_actuality.destroy.confirm').capitalize, :method => :delete, :class => 'small-icons delete'
      
    .step.open
      %a.small-icons.step-title{ :href => "#" }
        = "#{I18n.t('widget.link.create.action').capitalize} :"
      .view-tree.inner-step.init-tree
        %ul
          = render :partial => 'admin/blocks/associated_pages', :locals => { :categories => @page_categories, :pages => @pages, :block => @widget_actuality, :element_id => 'widget_actuality' }
      .clear
    .step
      %a.small-icons.step-title{ :href => "#" }
        = "#{I18n.t('folder.associated_to').capitalize} :"
      .view-tree.inner-step.init-tree
        %ul
          = render :partial => 'admin/categories/associated_elements', :locals => { :association_id => 'block_category_ids', :element => @widget_actuality, :category_ids => @widget_actuality.block_category_ids, :categories => WidgetCategory.find_all_by_parent_id(nil) }
      .clear
  .clear

