%h1
  = I18n.t('wactuality.show').capitalize
- if @wactuality
  %h2
    = h @wactuality.title.capitalize
  %br
- unless @actualities.nil?
  %h3
    = I18n.t('wactuality.linked_news').capitalize
  #list_news
    %table#table
      %thead
        %tr
          %th
            = I18n.t('title').capitalize
          %th
            = I18n.t('content').capitalize
      %tbody
        - @actualities.each do |actuality|
          %tr
            %td
              = h actuality.title.capitalize
            %td
              = actuality.content
= dataTables_tag(2)
