- if wactuality
  - wactuality_clone = wactuality.clone.attributes
- else
  - wactuality_clone = Wactuality.new.attributes

- form_for [:admin, wactuality] do |f|
  = hidden_field_tag 'page_id', page_id if defined?(page_id) && !page_id.blank?
  .backgrounds.big-header
    = f.text_field :title
    .interact-links
      = submit_tag I18n.t('save_changes').capitalize, :class => 'backgrounds interact-button'
      = I18n.t('or')
      = link_to I18n.t('cancel').capitalize, admin_widgets_path, :class => 'back-link'
  #content.grid_12.alpha.omega
    .inner-content
      .fieldset
        %h2
          = I18n.t('widget_settings')
        = f.label :news_since, I18n.t('wactuality.actualities_since').capitalize
        = f.date_select :news_since, :prompt => true
      .fieldset
        %h2
          = I18n.t('wactuality.select_actualities')

  #right-sidebar.grid_4.alpha.omega
    .step
      = link_to I18n.t('page.preview'), '#', :class => 'small-icons preview'
      = link_to I18n.t('page.duplicate'), new_admin_wactuality_path(:page => wactuality_clone), :class => 'small-icons duplicate'
      = link_to I18n.t('page.delete'), [:admin, wactuality], :confirm => I18n.t('wactuality.destroy.confirm').capitalize, :method => :delete, :class => 'small-icons delete'
    .step.open
      Associate Widgets to pages
      
  .clear