#menuLinkTypeDialog.media-hoverlay
  #inner-lightbox
    %ul
      %li= link_to_function ExternalLink.model_name.human, "toggleSelectedOverlay('#inner-lightbox .external'); toggle_menu_types_overlays('external-link')", :class => "small-icons external selected"
      %li= link_to_function PageLink.model_name.human, "toggleSelectedOverlay('#inner-lightbox .page'); update_current_dataTable_source('#table-menu_links','#{escape_javascript(forgeos_cms.admin_pages_path(:mode => 'menu_link',:format => :json))}'); toggle_menu_types_overlays('target-link');", :class => "small-icons page"
      %li= link_to_function CategoryLink.model_name.human, "toggleSelectedOverlay('#inner-lightbox .category'); update_current_dataTable_source('#table-menu_links','#{escape_javascript(forgeos_cms.admin_page_categories_path(:mode => 'menu_link', :format => :json))}'); toggle_menu_types_overlays('target-link')", :class => "small-icons category"

  .media-hoverlay-header
    #search.right.files
      = fg_search
    .backgrounds.search-form-files

  .media-hoverlay-content
    #external-link
      %label= "#{t(:url).capitalize} :"
      = text_field_tag "url", '', :id => "overlay-url"
    #target-link{:style => 'display: none'}
      %table#table-menu_links.datatable.media.selectable_rows
        %tr
          %td

= dataTables_tag :id => 'table-menu_links', :url => forgeos_cms.admin_pages_path(:format => :json, :mode => 'menu_link'), :columns => ["{'sClass':'th-checkbox-container', 'bSortable': false }","{ 'sTitle': '#{t(:name)}'}","{'bVisible': false}", "{'bVisible': false}"]
