= render :partial => 'tabs'
= render :partial => 'admin/sidebars/left_sidebar', :locals => {:icon_class => 'all-menus', :sidebar_title => 'menu.all', :tree_id => 'menus-tree' }

#content.grid_12.alpha.omega
  .backgrounds.header
    = link_to content_tag(:span,t('menu.create.action').capitalize, :class => 'big-icons create-menu'), new_admin_menu_path, :class => 'backgrounds action-button'
    #search.right
      = fg_search
    .backgrounds.search-form
  .content-background
  %table#table.datatable.draggable_rows
    
= dataTables_tag :url => admin_menus_path(:format => :json), :columns => ["{'bSearchable':false,'bSortable':false}","{'sTitle':'#{t :name}'}","{'sTitle':'#{t :active} ?'}","{'sClass':'actions-td','bSearchable':false,'bSortable':false}"]

