<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang='fr' xml:lang='fr' xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <title><%=t 'project_name' %> <%= yield :title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="keywords" content="<%= yield :meta_keywords %>" />
    <meta name="description" content="<%= yield :meta_description %>" />
    <%= yield :meta %>

    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

    <%= stylesheet_link_tag 'application' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
