
!!! 1.1
%html{ "xml:lang" => "fr", :lang => "fr", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title
      = Setting.first.name
      = yield :title
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
      %meta{ :name => "keywords", :content => yield(:meta_keywords) }
      %meta{ :name => "description", :content => yield(:meta_description) }
      = yield :meta
      %link{ :href => "favicon.ico", :rel => "icon", :type => "image/x-icon" }
        %link{ :href => "favicon.ico", :rel => "shortcut icon", :type => "image/x-icon" }
          = stylesheet_link_tag 'application'
          -# auto_discovery_link_tag(:rss, :controller => 'news', action => 'rss')
          -# FIXME: show rss in the whole application
  %body
    = display_menu(@menu)
    = yield
