!!!
%html{ "xml:lang" => I18n.locale, :lang => I18n.locale, :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %title
      = yield :title
      |
      = Setting.first.name
    - if kw = yield(:meta_keywords) and !kw.blank?
      %meta{ :name => 'keywords', :content => kw}
    - if desc = yield(:meta_description) and !desc.blank?
      %meta{ :name => 'description', :content => desc }
    %meta{ :name => 'generator', :content => 'Forgeos Cms 0.9.5' }
    = yield :meta

    %link{ :href => "favicon.ico", :rel => "icon", :type => "image/x-icon" }
    %link{ :href => "favicon.ico", :rel => "shortcut icon", :type => "image/x-icon" }
    = stylesheet_link_tag 'application'
  %body
    = display_menu(@menu) if @menu
    = yield
